# Two Steps Verification

## What is a Two-Step Verification
A security procedure called two-step verification, or two-factor authentication (2FA), requires users to enter two distinct authentication factors in order to access a system or service. This usually includes the user having something (like a security token or smartphone) and something they know (like a password).

## Why do we need a Two-Step Verification
By introducing an additional degree of security against unwanted access, two-step verification improves security. Because an attacker would still require the second authentication factor to have access, even in the event that a password was to be stolen or guessed, it drastically lowers the likelihood of accounts being compromised. By using this technique, you can strengthen account security overall and protect confidential data from online dangers.

## How to Two Steps Verification

1. Go to (https://devic.elemprin.com/#/login). After filling in the details click on the **Login** button.
 
    ![image-1](https://github.com/Nancypatel1103/ComplianceClient/assets/153616269/21bdd704-042a-4462-8111-35e659f4db38)

2. When you click the **Login** button, you will reach the **Dashboard** by default. Then go to the **Profile**.

    ![image-2](https://github.com/Nancypatel1103/ComplianceClient/assets/153616269/3fa3d65d-4cb2-4605-91c0-9ad1d0ae9634)

3. After going to the profile click on the **Edit** button of **2FA (Two-Fector Authentication)**.
  
    ![image-3](https://github.com/Nancypatel1103/ComplianceClient/assets/153616269/f568134a-9e90-4d0a-aaff-40809896575f)

4. A new window will open where you will find a **QR** code, scan this **QR** from the **Google Authentication** app installed on your mobile.

    ![image-4](https://github.com/Nancypatel1103/ComplianceClient/assets/153616269/763a31c6-a58a-40f0-b23f-67bf4c2dbc5b)

5. Enter the code you will find the code when you scan. And then click on the **Active** button.

   ![image-5](https://github.com/Nancypatel1103/ComplianceClient/assets/153616269/f97c9785-143f-4e69-a165-be5ebc0fcc08)


