# Two Steps Verification

## What
## Why

## How to Two Steps Verification

1. Go to (https://devic.elemprin.com/#/login). After filling in the details click on the **Login** button.

2. When you click the **Login** button, you will reach the **Dashboard** by default. Then go to the **Profile**.

3.  

